.generic-carrousel {
    overflow-x: auto;
    overflow-y: hidden;
    max-height: 100%;
    --sb-track-color: var(--palette-alt-accent);
    --sb-thumb-color: var(--palette-alt-accent);
    --sb-border-color: var(--palette-bg);
    --sb-size: 1.1rem;
    scrollbar-gutter: stable;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: var(--gap-m);
    flex: 1;
}

    .generic-carrousel::-webkit-scrollbar {
        width: var(--sb-size);
        height: var(--sb-size);
    }

    .generic-carrousel::-webkit-scrollbar-track {
        border-radius: 30px;
        background: var(--sb-track-color);
        border: 0.5rem solid var(--sb-border-color);
    }

    .generic-carrousel::-webkit-scrollbar-thumb {
        background: var(--sb-thumb-color);
        border-radius: 30px;
        border: 0.2rem solid var(--sb-border-color);
    }

.menu-carrousel {
    flex-direction: column;
    max-height: 100%;
    flex-wrap: wrap;
    gap: var(--gap-s);
    align-content: flex-start;
    grid-row: content;
    grid-column: content;
}

@media(max-height:800px) {
    .generic-carrousel {
        padding-bottom: 0;
    }

        .generic-carrousel::-webkit-scrollbar-track {
        }
}

@media(max-width:800px) {
    .generic-carrousel {
        flex-wrap: wrap;
/*        overflow-x: scroll;*/
        overflow-y: scroll;
    }
}
