@using Enplace.Service.Services.Managers
@typeparam TItem where TItem : class, ILabeled, new()
@typeparam TComponent where TComponent : BaseTile<TItem>

<section class="generic-carrousel @Class">
    @if (ShowCreationTile)
    {
        <DynamicComponent Type="typeof(TComponent)" Parameters="@(new Dictionary<string, object>(){{"State", ComponentState.Create},  {"Class",   "m-hidden"}})" />
    }
    @foreach (TItem item in Items ?? [])
    {
        <DynamicComponent Type="typeof(TComponent)"
                          Parameters="@(new Dictionary<string, object>()
                            {
                                {"State", ComponentState.Details},
                                {"Item", Items[Items.IndexOf(item)]},
                                {"OnItemSelected",EventCallback.Factory.Create<TItem>(this, val => OnItemSelected(val))},
                                {"Class",   SelectedItem?.Id == item?.Id ? "ActiveMenu" : string.Empty}
                            }
                )" />
    }
</section>

@code {
    [Inject]
    public required ApiService<TItem> API { get; set; }
    [Inject]
    public required AsyncEventManager<TItem> EventManager { get; set; }

    [Parameter]
    public TItem? SelectedItem { get; set; }
    [Parameter]
    public EventCallback<TItem> SelectedItemChanged { get; set; }

    private TItem? _lastEvent { get; set; }

    [Parameter]
    public bool FilterOnUser { get; set; } = false;
    [Parameter]
    public string Class { get; set; } = string.Empty;
    [Parameter]
    public bool SelectFirst { get; set; } = false;
    [Parameter]
    public bool ShowCreationTile { get; set; } = true;
    [Parameter]
    public bool QueryOverride { get; set; } = false;

    [Parameter]
    public List<TItem>? Items { get; set; }
    [Parameter]
    public EventCallback<List<TItem>>? ItemsChanged { get; set; }

    private DateTime _timeStamp = DateTime.Now;
    public static readonly double MinutesToCacheInvalidation = 10;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine($"{typeof(TItem).Name} Carrousel | OnInitializedAsync");
        var freshStamp = DateTime.Now;
        // if intermediate stamp exceeds cached stamp by n time
        // or there are 0 cached items
        // refresh collection
        if (freshStamp > _timeStamp.AddMinutes(MinutesToCacheInvalidation) || Items?.Count == 0 || Items is null)
        {
            (string, string)[] parameters = [];
            if (FilterOnUser)
            {
                parameters = [("foruser", "true")];
            }
            if (QueryOverride)
            {
                if (Items is null)
                {
                    throw new Exception("Query overridden, but no alternative source has been provided.");
                }
            }
            else
            {
                Items = await API.GetAll(parameters);
            }

            _timeStamp = freshStamp;
        }
        EventManager.OnEventTriggered += ForceCarrouselRefresh;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        Console.WriteLine($"{typeof(TItem).Name} Carrousel | OnAfterRender");
        Console.WriteLine($"{typeof(TItem).Name} Carrousel | FirstRender {firstRender} - Items {Items?.Count}");
        if (Items is not null && Items.Count > 0)
        {
            Console.WriteLine($"{typeof(TItem).Name} Carrousel | {Items.Count} - {SelectFirst} - {SelectedItem?.Id}");
            if (SelectFirst && SelectedItem is null)
            {
                Console.WriteLine("SelectFirst & No Selected Item");
                SelectedItem = Items.First();
                SelectedItemChanged.InvokeAsync(Items.First());
                StateHasChanged();
            }
        }

    }

    private async Task ForceCarrouselRefresh(TItem? item)
    {
        Console.WriteLine($"Forcing {typeof(TItem).Name} Carrousel Refresh...");
        if (item != _lastEvent || item is null)
        {
            (string, string)[] parameters = [];
            if (FilterOnUser)
            {
                parameters = [("foruser", "true")];
            }
            if (!QueryOverride)
            {
                Items = await API.GetAll(parameters);
            }
            _lastEvent = item;
            StateHasChanged();
        }
    }

    private async Task OnItemSelected(TItem? item)
    {
        Console.WriteLine($"Triggering {typeof(TItem).Name} Item Selection...");
        if (item is not null && SelectedItem is not null)
        {
            if (item.Id != SelectedItem.Id)
            {
                await SelectedItemChanged.InvokeAsync(item);
                StateHasChanged();
            }
        }
        else if (item is not null && SelectedItem is null)
        {
            await SelectedItemChanged.InvokeAsync(item);
            StateHasChanged();
        }
    }
}
