.ctrl-bar {
    display: grid;
}

.container {
    display: flex;
    align-items: center;
}

.ctrl-bar .container {
    gap: 0.5rem;
    background: var(--color-primary)
}

.active {
    background-color: rgba(255,255,255,0.5);
}

@media(min-width:500px) {
    .ctrl-bar {
        grid-template-rows: [ctrl-corner-a] 90px [ctrl-body] 1fr [ctrl-corner-b] 90px;
        max-height: 840px;
        max-width: 90px;
    }

        .ctrl-bar .container {
            flex-direction: column;
        }
}

@media(max-width:800px) {
    .ctrl-bar {
        position: sticky;
        bottom: 0;
        grid-template-columns: [ctrl-corner-a] 0 [ctrl-body] 1fr [ctrl-corner-b] 0;
        max-height: 90px;
        max-width: 100%;
    }

        .ctrl-bar .container {
            flex-direction: row;
            justify-content: space-between;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }
}
