<div class="ctrl-bar">
    <Enplace.Library.Shapes.SlantedCorner Class="corner-a" />
    <div class="container">
        <NavLink class="a-icon" href="" Match="NavLinkMatch.All" >
            <Enplace.Library.Icons.Home />
        </NavLink>
        <button class="btn-icon">
            <Enplace.Library.Icons.Heart />
        </button>
        <button class="btn-icon">
            <Enplace.Library.Icons.Heart />
        </button>
        <button class="btn-icon">
            <Enplace.Library.Icons.Heart />
        </button>
        <button class="btn-icon">
            <Enplace.Library.Icons.Heart />
        </button>
    </div>
    <Enplace.Library.Shapes.SlantedCorner Class="corner-b" />
</div>
