.ctrl-bar {
    display: grid;
}
.ctrl-bar .container{
    gap:0.5rem;
   background: var(--color-primary)
}
 
@media(min-width:500px){
    .ctrl-bar {
        grid-template-rows: [ctrl-corner-a] 90px [ctrl-body] 1fr [ctrl-corner-b] 90px;
        max-height: 840px;
        max-width: 90px;
    }
}

@media(max-width:500px){
    .ctrl-bar {
        grid-template-columns: [ctrl-corner-a] 90px [ctrl-body] 1fr [ctrl-corner-b] 90px;
        max-height: 90px;
        max-width: 360px;
    }

    .ctrl-bar container{
        flex-direction:row;
    }
}