@using Enplace.Library.Icons

<div class="ctrl-bar">
    <Enplace.Library.Shapes.SlantedCorner Class="corner-a" />
    <div class="container">
        <NavLink class="a-icon" href="" Match="NavLinkMatch.All">
            <Home />
        </NavLink>
        <button class="btn-icon">
            <Groceries />
        </button>
        <button class="btn-icon">
            <Recipe />
        </button>
        <button class="btn-icon">
            <RecipeMenu />
        </button>
        <button class="btn-icon">
            <Inspiration />
        </button>
        <button class="btn-icon">
            <UserSettings />
        </button>
    </div>
    <Enplace.Library.Shapes.SlantedCorner Class="corner-b" />
</div>
