@using Enplace.Service.Services.Managers
@inherits RecipeCardBase


<article class="tile tile-recipe @Item?.Category?.Name @State">
    @switch (State)
    {
        case ComponentState.Create:
            <button class="btn-icon icon-large" @onclick="() => ShowRecipeCreator()">
                <Enplace.Library.Icons.Add />
            </button>
            break;
        default:
            <img class="tile-image" src="@_imgShardB64" />
            <div class="tile-attributes">
                @if (!(Item?.ApproximateCookingTime is null || Item?.ApproximateCookingTime == 0))
                {
                    <div class="pill">
                        <Enplace.Library.Icons.Clock />
                        @Item?.ApproximateCookingTime
                    </div>
                }
                @if (!(Item?.ApproximateServingSize is null || Item?.ApproximateServingSize == 0))
                {
                    <div class="pill">
                        <Enplace.Library.Icons.Silhouette />
                        @(((Item?.ApproximateServingSize ?? 1) * (Item?.Scale ?? 1)).ToString("0.##"))
                    </div>
                }
            </div>
            <p class="tile-title">@Item?.Name</p>
            <p class="tile-description">@Item?.Description</p>
            <div class="tile-controls">
                <button class="btn-icon" @onclick="ShowRecipeDetails">
                    <Enplace.Library.Icons.Details />
                </button>
                @if (EnplaceContext.User.Id == Item?.Owner?.Id)
                {
                    <button class="btn-icon" type="button" @onclick=ShowRecipeEditor>
                        <Enplace.Library.Icons.Edit />
                    </button>
                }
                else
                {
                    <button class="btn-icon" type="button" @onclick="() => ToggleLike()">
                        <Enplace.Library.Icons.Heart />
                    </button>
                }
                <button class="btn-icon" @onclick="() => ShowMenuSelector()">
                    <Enplace.Library.Icons.AddRecipe />
                </button>
            </div>
            break;
    }
</article>

