.recipe-editor-loading {
}

.recipe-editor {
    min-height: 750px;
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
    border: solid 3px var(--palette-base);
}

    .recipe-editor .card-header {
        background-color: var(--palette-neutral);
    }

    .recipe-editor .card-body {
        min-height: 200px;
        border-color: var(--palette-base);
    }

    .recipe-editor .card-footer {
        background-color: var(--palette-neutral);
    }

.input-blade {
    display: grid;
    grid-template-rows: [labels] 1fr [controls] 1fr;
    grid-template-columns: [ingredient] 5fr [measurement] 3fr [quantity] 1fr [button] 1fr;
    gap: 0.5rem;
}

.blade-label {
    grid-row: labels;
}

@media(max-width:800px) {
    .recipe-editor {
        min-height: 100%;
        max-height: 100%;
        min-width: 100%;
        max-width: 100%;
    }

        .recipe-editor .card-footer {
            padding: 0.25rem 0.5rem 0.25rem 0.5rem;
        }

    .input-blade {
        grid-template-columns: none;
        grid-template-columns: [left]1fr [right]1fr;
        grid-template-rows: [labels] 1fr [controls] 1fr [labels] 1fr [controls] 1fr;
    }
}
