.recipe-shard {
    --color-primary: #D3D3D3;
    --color-accent: white;
    --color-primary-alt: black;
    --color-accent-alt: white;
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    padding: 1rem;
    border-radius: 10px;
    justify-content: space-between;
    width: 300px;
    gap: 1rem;
    box-shadow: var(--color-accent) 5px 5px;
}

.recipe-shard-header {
}

    .recipe-shard-header img {
        background: var(--color-accent);
        border-radius: 10px;
        height: 100px;
        width: 100%;
    }

.recipe-shard-body {
}

.recipe-shard-body-title {
    font-weight: bold;
    vertical-align: top;
    height: 50px;
    /*color:var(--color-primary-alt)*/
}

.shard-description {
    height: 100px;
}

.recipe-shard-footer {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.recipe-shard-footer img {
    width: 24px;
    height: 24px;
}
