.recipe-editor-loading {
}

.recipe-editor {
    flex: 1;
    width: 100%;
    border: solid 3px var(--palette-primary);
}

    .recipe-editor .card-header {
        background-color: var(--palette-neutral);
    }

    .recipe-editor .card-body {
        min-height: 200px;
        border-color: var(--palette-primary);
    }

    .recipe-editor .card-footer {
        background-color: var(--palette-neutral);
    }

.input-blade {
    display: grid;
    grid-template-columns: [ingredient] 5fr [measurement] 3fr [quantity] 1fr [button] 1fr;
    gap: 0.5rem;
}

    .input-blade input,
    .input-blade select,
    .input-blade button {
        min-width: 0;
    }
