@using Enplace.Service.Services.Managers
@inherits RecipeCardBase
@rendermode RenderMode.InteractiveAuto

<div class="recipe-shard @Item?.Category.Name @State">
    @switch (State)
    {
        case ComponentState.Create:
            <div class="recipe-shard-body shard-create">
                <button class="btn-icon icon-large" @onclick="() => ShowRecipeCreator()">
                    <Enplace.Library.Icons.Add />
                </button>
            </div>
            break;
        default:
            <div class="recipe-shard-header">
                <img src="@_imgShardB64" />
                <div class="flex-row flex-start gap-s">
                    <div class="pill">
                        <Enplace.Library.Icons.Clock />
                        @Item?.ApproximateCookingTime
                    </div>
                    <div class="pill">
                        <Enplace.Library.Icons.Silhouette />
                        @Item?.ApproximateServingSize
                    </div>
                </div>
                <p class="recipe-shard-title">@Item?.Name</p>

            </div>
            <div class="recipe-shard-body">
                <p class="shard-description">@Item?.Name</p>
            </div>
            <div class="recipe-shard-footer">
                @if (State == ComponentState.Edit)
                {
                    <button class="btn-icon">
                        <Enplace.Library.Icons.Edit />
                    </button>
                }
                else
                {
                    <button class="btn-icon" @onclick="NavigateToRecipeDetails">
                        <Enplace.Library.Icons.Details />
                    </button>
                }
                <button class="btn-icon" @onclick="() => ShowMenuSelector()">
                    <Enplace.Library.Icons.AddRecipe />
                </button>
                <button class="btn-icon">
                    <Enplace.Library.Icons.Heart />
                </button>
            </div>
            break;
    }
</div>

