@using Enplace.Service.Services.Managers
@inherits RecipeCardBase
@rendermode RenderMode.InteractiveAuto

<article class="tile tile-recipe @Item?.Category?.Name @State">
    @switch (State)
    {
        case ComponentState.Create:
            <button class="btn-icon icon-large" @onclick="() => ShowRecipeCreator()">
                <Enplace.Library.Icons.Add />
            </button>
            break;
        default:
            <img class="tile-image" src="@_imgShardB64" />
            <div class="tile-attributes">
                @if (!(Item?.ApproximateCookingTime is null || Item?.ApproximateCookingTime == 0))
                {
                    <div class="pill">
                        <Enplace.Library.Icons.Clock />
                        @Item?.ApproximateCookingTime
                    </div>
                }
                @if (!(Item?.ApproximateServingSize is null || Item?.ApproximateServingSize == 0))
                {
                    <div class="pill">
                        <Enplace.Library.Icons.Silhouette />
                        @Item?.ApproximateServingSize
                    </div>
                }

            </div>
            <p class="tile-title">@Item?.Name</p>
            <p class="tile-description">@Item?.Name</p>
            <div class="tile-controls">
                @if (State == ComponentState.Edit)
                {
                    <button class="btn-icon">
                        <Enplace.Library.Icons.Edit />
                    </button>
                }
                else
                {
                    <button class="btn-icon" @onclick="NavigateToRecipeDetails">
                        <Enplace.Library.Icons.Details />
                    </button>
                }
                <button class="btn-icon" @onclick="() => ShowMenuSelector()">
                    <Enplace.Library.Icons.AddRecipe />
                </button>
                <button class="btn-icon">
                    <Enplace.Library.Icons.Heart />
                </button>
            </div>
            break;
    }
</article>

