
.tile-recipe {
    grid-template-rows: [image] min-content [attributes] 2rem [title]min-content [description] min-content [buffer] 1fr [controls] 1.875rem;
    grid-template-columns: [main] 100%;
}


.Create {
    display: flex;
    position: sticky;
    left: 0;
    box-shadow: Black 5px 5px;
    gap: 0;
    padding: 0;
    justify-content: space-around;
    /*z-index solves a strange bug with the image-after of the tiles.*/
    z-index: 1;
}

    .Create button {
        justify-content: space-around;
    }

.tile-image {
    grid-column: main;
    grid-row: image;
    background: var(--color-accent);
    border-radius: 10px;
    height: 100px;
    width: 100%;
}

.tile-attributes {
    grid-column: main;
    grid-row: attributes;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    gap: var(--gap-s);
}

.tile-title {
    font-size: 1rem;
    grid-column: main;
    grid-row: title;
    font-weight: bold;
    vertical-align: top;
    height: fit-content;
    margin: 0;
}

.tile-description {
    white-space: nowrap;
    grid-column: main;
    margin: 0;
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1rem;
}

.tile-controls {
    grid-column: main;
    grid-row: controls;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: var(--gap-s);
}

@media(max-width:800px) {
    .tile-recipe {
        grid-template-rows: [title]min-content [description] minmax(0,1fr) [controls] minmax(30px, 1.875rem);
        grid-template-columns: [image] min-content [main] 1fr;
        min-width: 300px;
        width: 300px;
        max-height: 100px;
    }

    .tile-image {
        grid-column: image;
        grid-row: 1/-1;
        aspect-ratio: 1/1;
        margin: auto;
        height: 100%;
    }

    .tile-attributes {
        display: none;
    }

    .Create {
        display: none;
    }
}
