header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 300px;
}

.menu-groceries {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    overflow-y: auto;
}

.category-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

    .category-wrapper section {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

.section-wrapper {
    border-radius: 10px;
    border: 3px solid var(--color-category-underline);
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: white;
}

@media(max-width:800px) {
    .category-wrapper {
        max-width: 100%;
        min-width: 66%;
    }
}
