@using Blazored.LocalStorage
@using Enplace.Library.Icons
@inject NavigationManager nav


<div class="ctrl-bar">
    <Enplace.Library.Shapes.SlantedCorner Class="corner-a" />
    <div class="container">
        <NavLink class="a-icon" href="" Match="NavLinkMatch.All">
            <Home />
        </NavLink>
        <NavLinkOverride class="a-icon" href="/groceries" Match="NavLinkMatch.Prefix" @onclick="@(() => nav.NavigateTo($"/groceries/{EnplaceContext.Menu?.Id}"))">
            <Groceries />
        </NavLinkOverride>
        <button class="btn-icon" disabled>
            <Recipe />
        </button>
        <button class="btn-icon" disabled>
            <RecipeMenu />
        </button>
        <button class="btn-icon" disabled>
            <Inspiration />
        </button>
        <button class="btn-icon" @onclick=@NavigateToLogin>
            <UserSettings />
        </button>
    </div>
    <Enplace.Library.Shapes.SlantedCorner Class="corner-b" />
</div>

@code{
    [Inject]
    public NavigationManager Navigation { get; set; }
    [Inject]
    public ILocalStorageService Storage { get; set; }
    private bool _showMenu = false;

    public void NavigateToLogin()
    {
        Storage.RemoveItemAsync("skid.enplace");
        EnplaceContext.User = null;
        Navigation.NavigateTo("/login");
    }
}
