.ingredient-request {
    margin-top: var(--gap-m);
    display: grid;
    grid-template-rows: [controls] 1fr [controls] 1fr [buttons] 1fr;
}

    .ingredient-request button {
        width: 100%;
        background-color: var(--palette-action);
        border: none;
        border-radius: var(--border-radius);
    }

.blade-button {
    min-height: 1.875rem;
    grid-row: buttons;
    font-size: 1.2rem;
    font-weight: bold;
}
