@inherits ToggelableBase<string>

<div class="d-flex gap-2">
    @switch (State)
    {
        case ComponentState.Details:
            <span style="min-height:fit-content;">
                @Field
            </span>
            break;
        default:
            <InputTextArea class="w-100 form-control" style="min-height:6rem;resize:none;" @bind-Value="Field" />
            break;
    }
</div>
