@rendermode RenderMode.InteractiveAuto
@inherits ToggelableBase<string>

<div class="d-flex gap-2">
    @switch (State)
    {
        case ComponentState.Details:
            <span>@Field</span>
            break;
        default:
            <InputText class="tgl tgl-text" @bind-Value="Field" placeholder="@Placeholder" />
            break;
    }
</div>