@rendermode RenderMode.InteractiveAuto
@inherits ToggelableBase<decimal>

<div class="d-flex gap-2">
    @switch (State)
    {
        case ComponentState.Details:
            <span>@((Field * (Scale ?? 1)).ToString("0.##"))</span>
            @if (StateManagement == StateManagement.Internal)
            {
                <button class="btn-icon" onclick="() =>Toggle(ComponentState.Edit)">
                    <Enplace.Library.Icons.Edit />
                </button>
            }
            break;
        default:
            <EditForm EditContext="EditContext">
                <InputNumber class="tgl tgl-number" TValue="decimal" @bind-Value="Field" placeholder="@Placeholder" />
                @if (StateManagement == StateManagement.Internal)
                {
                    <button class="btn-icon" onclick="() =>{Toggle(ComponentState.Details); Callback();}">
                        <Enplace.Library.Icons.Heart />
                    </button>
                }
            </EditForm>
            break;
    }
</div>

@code{
    [Parameter]
    public decimal? Scale { get; set; }
}