@rendermode RenderMode.InteractiveAuto
@inherits ToggelableBase<string>

<div class="d-flex gap-2">
    @switch (State)
    {
        case ComponentState.Details:
            <span>@Field</span>
            @ChildContent
            <Enplace.Library.Icons.Edit @onclick="() =>Toggle(ComponentState.Edit)" />
            break;
        default:
            <EditForm EditContext="EditContext">
                <InputText class="tgl tgl-text" @bind-Value="Field" placeholder="@Placeholder" />
                @if (StateManagement == StateManagement.Internal)
                {
                    <Enplace.Library.Icons.Details @onclick="() =>Callback()" />
                }
            </EditForm>
            break;
    }
</div>

@code {
   
}