@rendermode RenderMode.InteractiveAuto
@inherits ToggelableBase<string>

<div class="d-flex gap-2">
    @switch (State)
    {
        case ComponentState.Read:
            @ChildContent
            <Enplace.Library.Icons.Edit @onclick="() =>Toggle(ComponentState.Edit)" />
            break;
        case ComponentState.Edit:
            <EditForm EditContext="Context">
                <InputText @bind-Value="Field" />
                <Enplace.Library.Icons.Details @onclick="() =>Callback()" />
            </EditForm>
            break;
    }
</div>
