section {
    height: 100%;
    max-height: 450px;
}

@media(min-width:800px) {
    section {
    }
}

.user-dashboard {
    /*    display: grid;
    grid-template-rows: [menus] 25fr [recipes] 37.5fr [inspiration] 37.5fr;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--gap-m);
    height: 100%;
    min-width: 0;
    width: 100%;
    padding-left: var(--padding-s);
    padding-right: var(--padding-s);
}

    .user-dashboard section {
        min-height: 0;
        /*        max-height: 100%;*/
        max-width: 100%;
        min-width: 0;
    }

.section-menu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border-radius: 10px;
    padding: 1rem;
    max-height: 350px;
}

    .section-menu header {
        grid-row: header;
        grid-column: content;
        min-width: 0;
        max-width: 100%;
    }

.menu-splash {
    border-radius: 16px;
    background: rgba(255,255,255,0.7);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255,255,255,0.35);
    grid-row: span 2;
}

.section-inspiration {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media(max-height:800px) {
    .user-dashboard {
        overflow-y: scroll;
        overflow-x: hidden;
        min-height: 0;
        max-height: 100%;
        height: auto;
    }

    .section-menu {
        gap: var(--gap-s);
        padding: var(--gap-s);
        grid-template-columns: [content] 1fr;
        max-height: fit-content;
    }

    section {
        margin: 0 0.75rem 0 0.75rem;
    }
}
