@using Blazored.LocalStorage
@inherits LayoutComponentBase
<div class="page">
    <aside class="sidebar">
        <Enplace.Library.Layout.ControlBar />
    </aside>
    <main>
        <Enplace.Library.Layout.TopBar />
        <article>
            @Body
        </article>
    </main>
</div>



@code {
    [Inject]
    public ILocalStorageService Storage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        EnplaceContext.Token = await Storage.GetItemAsStringAsync("skid.enplace") ?? string.Empty;
    }
}