@using Blazored.LocalStorage
@inherits LayoutComponentBase

<div class="page">
    <Loader />
    <AuthorizeView>
        <Authorized>
            <aside class="sidebar">
                <Enplace.Library.Layout.ControlBar />
            </aside>
            <main>
                <Enplace.Library.Layout.TopBar />
                <article>
                    @Body
                </article>
            </main>
        </Authorized>
        <NotAuthorized>
            @Body
        </NotAuthorized>
    </AuthorizeView>
    <Toaster />
</div>



@code {
    [Inject]
    public required ILocalStorageService Storage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        EnplaceContext.Token = await Storage.GetItemAsStringAsync("skid.enplace") ?? string.Empty;
    }
}